# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Bun
bun.lockb

# Build output
dist/

# TypeScript
*.tsbuildinfo

# dotenv environment variables file
*.env*
!.env.example

# cache data
data.*.json
config.*.json
minecraft-cache/

# editor
.vscode/
